footer
	.container
		.row
			.col-md-6
				.copyright.text-left
					p  All rights reserved to&nbsp
						span copyright © 2017&nbsp
							a(href="mailto:contact@oikik.io").text-uppercase oikik hosting
					p  A concern of&nbsp
						a(href="//vimmaniac.com/") vimmaniac
						|&nbsp pvt ltd
			.col-md-6.text-right(style="margin-top:7px")
				ul.nav
					each _social in social_links
						li
							a.transition(href = _social[1],target="_blank")
								i(class="fa fa-#{_social[0]}")

script(src=mainJS)
//-	script(src=mainJS0)
	script(src=mainJS1)
	script(src=mainJS2)
	script(src=mainJS3)
	script(src=mainJS4)
	script(src=mainJS5)
