header
	nav.navbar.top-most-menu
		.container
			.navbar-header.logo
				a.navbar-brand(href="#")
					img(src=logoUrl)
			.text-center
				ul.nav.navbar-nav.navbar-right
					each user_nav in topMenu
						if user_nav["menu-name"] == "lang(EN)"
							li.dropdown
								a.dropdown-toggle(href=user_nav["url"], data-toggle="dropdown",role="button", aria-haspopup="true", aria-expanded="false", id=user_nav["id"])= user_nav["menu-name"]
									span.caret
								ul.dropdown-menu
									each lang_dropdown in ["EN", "BN"]
										li.text-center
											a(href=user_nav["url"])= lang_dropdown
						else
							li.text-capitalize
								a(href=user_nav["url"], class=user_nav["class"])= user_nav["menu-name"]
	nav.navbar.navbar-default
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target="#main-menu" aria-expanded="false")
					span.sr-only Toggle navigation
					-for (i=0; i<3; i++)
						span.icon-bar
			.collapse.navbar-collapse.text-center#main-menu
				ul.nav.navbar-nav.text-uppercase
					-var c = true
					each menu_item in main_menu_items
						if c
							-c=false
							li.active
								a.transition(href= menu_item[1])= menu_item[0]
						else
							li
								a.transition(href= menu_item[1])= menu_item[0]