section#small-pricing
	//- small pricing doesn't mean low costing plan/pricing, it's the size !!
	.container
		.row.text-center
			each badge_txt in smallPlanData
				.col-sm-4.each-small-plan-parent
					.each-small-pricing
						.small-plan-badge.text-center
							span= badge_txt["badge"]
						.small-plan-name
							.plan-chart
								-for (j=0; j<3; j++)
									span
							h3.text-uppercase= badge_txt["planType"]
						p.small-plan-description= badge_txt["planDetails"]
						.small-plan-price
							sup= bdtSign
							=badge_txt["price"]*(100 - badge_txt["discount"])/100
							span /mo.
						.small-plan-offer
							strike
								span #{bdtSign}#{badge_txt["price"]}/mo
							span.text-uppercase    #{badge_txt["discount"]}% off!
						a.btn.btn-order.text-uppercase order now